<header>
  <nav id="navbar">
    <div id="logo">
      <p id="logo-text">My Daily Blog</p>
      <div id="under-line"></div>
    </div>    
    <ul class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="/compose">Compose</a></li>
      <!-- <li><a href="/about">About me</a></li>  -->
      <a href="#" id="close-btn"><i class="fa fa-times"></i></a>
      <!-- <li><a href="/posts">Posts</a></li>  -->
    </ul>
    <div id="mobile-nav">     
      <i id="mobile-menu" class="fa fa-outdent"></i>
  </div>
  </nav>
</header>
