<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link rel="stylesheet" href="styles/layout.css">
  <link rel="stylesheet" href="styles/content.css">
  <title>About me</title>
</head>

<body>
  <%- include("partials/header.ejs") %>
    <main id="container">
      <h1>About Me</h1>
      <p>A beginner coder aim to become a pro-coder.</p>
    </main>

    <%- include("partials/footer.ejs") %>
</body>

</html>
