<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/content.css">
    <title>Confirmation Page</title>
  </head>
<body style="display: flex;align-items: center;justify-content: center;">   
    <main id="message-container">
        <div id="msg-sub-container">
            <h1>Post Updated Successfully</h1>
            <p>Your changes have been saved.</p>
            <a class="home-link" href="/">Back to Home</a>
        </div>
        
    </main>
    
   
</body>
</html>
